@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

body {
  min-height: 100vh;
  background-image: url("treebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* header section */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* logo */
.logo {
  font-size: 25px;
  color: brown;
  text-decoration: none;
  font-weight: 700;
}
/* navigation bar */

.navbar a {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(139, 21, 21);
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}
